<!DOCTYPE html>
<html>
    <head>
        <meta charset="udf-8">
        <title>Fibinacci sequence</title>
    </head>
    <body>
        <form method="post" id="id_number" placeholder="Enter a range number">
            <fieldset>
                <label>
                    <input type="number" name="fib_num" />
                </label>
                <div class="actions">
                    <input type="submit" name="submit" value="Send" />
                </div>
            </fieldset>
        </form>
    </body>
</html>
